.App {
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;

  canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  button {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
}

.maze {
  background-color: salmon;
}

#num {
  font-weight: 900;
  color: #fff;
}
