* {
  box-sizing: border-box;
  position: relative;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: #000;
  margin: 0;
  font-size: 1.6rem;
  font-family: 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}